@import "tailwindcss";

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  --bg-light: hsl(0 0 100);
  --bg: hsl(0 0 95);
  --bg-dark: hsl(0 0 90);

  --text: hsl(0 0 0);
  --text-muted: hsl(0 0 30);

  --primary: hsl(220 90% 55%);
  --accent: hsl(340 90% 55%);

  --gradiant: linear-gradient(0deg, var(--bg) 95%, var(--bg-light));
  --gradiant-hover: linear-gradient(0deg, var(--bg), var(--bg-light));

  --highlight: hsl(0 0% 100%);
  --border: hsl(0 0% 30%);

  --sadow-sm: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.06);
  --sadow-md: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
  --sadow-lg: 0 10px 15px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.05);
}

.dark {
  --bg-light: hsl(0 0% 30%);
  --bg: hsl(0 0% 15%);
  --bg-dark: hsl(0 0% 0%);

  --text: hsl(0 0% 90%);
  --text-muted: hsl(0 0% 70%);

  --primary: hsl(220 90% 65%);
  --accent: hsl(340 90% 65%);

  --gradiant: linear-gradient(0deg, var(--bg) 95%, var(--bg-light));
  --gradiant-hover: linear-gradient(0deg, var(--bg), var(--bg-light));

  --highlight: hsl(0 0% 60%);
  --border: hsl(0 0% 30%);

  --shadow-sm: 0 1px 3px rgba(255, 255, 255, 0.05),
    0 1px 2px rgba(255, 255, 255, 0.03);
  --shadow-md: 0 4px 6px rgba(255, 255, 255, 0.1),
    0 2px 4px rgba(255, 255, 255, 0.06);
  --shadow-lg: 0 10px 15px rgba(255, 255, 255, 0.2),
    0 4px 6px rgba(255, 255, 255, 0.1);
}

@theme {
  --color-bg-light: var(--bg-light);
  --color-bg: var(--bg);
  --color-bg-dark: var(--bg-dark);

  --color-text: var(--text);
  --color-text-muted: var(--text-muted);

  --color-primary: var(--primary);
  --color-accent: var(--accent);

  --color-highlight: var(--highlight);
  --color-border: var(--border);

  --shadow-shadow-sm: var(--sadow-sm);
  --shadow-shadow-md: var(--sadow-md);
  --shadow-shadow-lg: var(--sadow-lg);
}

.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.gradiant {
  background: var(--gradiant);
}

.gradiant-hover {
  background: var(--gradiant-hover);
}
